#settingsButton {
    -fx-graphic: url("../img/settings.png");
}

#themeButton {
    -fx-graphic: url("../img/theme.png");
}

#minimizeButton {
    -fx-graphic: url("../img/minimize.png");
}

#exitButton {
    -fx-graphic: url("../img/exit.png");
}

#addDirButton, #addPlaylistButton {
    -fx-graphic: url("../img/add.png");
}

#renamePlaylistButton {
    -fx-graphic: url("../img/rename.png");
}