#previousButton {
    -fx-graphic: url("../img/previous.png");
}

#nextButton {
    -fx-graphic: url("../img/next.png");
}

#playButton {
    -fx-graphic: url("../img/play.png");
}

#muteButton {
    -fx-graphic: url("../img/volume.png");
}

#addDirButton, #addPlaylistButton {
    -fx-graphic: url("../img/add.png");
}

#settingsButton {
    -fx-graphic: url("../img/settings.png");
}

#themeButton {
    -fx-graphic: url("../img/theme.png");
}

#minimizeButton {
    -fx-graphic: url("../img/minimize.png");
}

#maximizeButton {
    -fx-graphic: url("../img/maximize.png");
}

#exitButton {
    -fx-graphic: url("../img/exit.png");
}

#preferenceToggleButton {
    -fx-graphic: url("../img/preference.png");
}

#randomToggleButton {
    -fx-graphic: url("../img/random.png");
}

